<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Veterinarios 

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-card *ngFor="let veterinario of veterinarios">
    <div  *ngIf="veterinario.active">
       
    <img src="{{veterinario.image}}">

    <ion-card-header>
      <ion-card-subtitle>{{veterinario.title}}</ion-card-subtitle>
      <ion-card-title>{{veterinario.subtitle}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{veterinario.description}}
    </ion-card-content>
    <ion-button href="{{veterinario.contact}}" fill="outline" slot="end">
      Contactar
      <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
    </ion-button>    

  </div>
</ion-card>

  